<div class="bgLogin">
  <div class="container-fluid">
    <div class="row">
      <div class="col" align="center">
        <div class="card border-secondary" align="left">
          <div class="card-body">
            <h3 class="card-title" align="center"></h3>
 
            <div align="center">
              <button type="button" id="loginButton" class="btn btn-danger btn-block" (click)="login()">Login</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
 