table {
    
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
   
    width: 100%;

}

th,
td {
 
   border: 1px solid black;

   

}


th {
   
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}


td {
  padding: 5px;
  text-align: center;
  color:white; 
  font-size:100%;
  font-weight: normal ;
  background-color: rgb(50, 50, 60);
  
}
tr:nth-child(even) {
  background-color: rgba(61, 60, 60, 0.568);
}

h2  {
  font-family: Engravers MT;
  font-weight: bold;
  font-size: 15px;
  width: 400px;
  padding-left: 10px;
  line-height: 2;
  position: relative;
  color: rgb(200,0,0);
}
h1{  
  font-family: Engravers MT;
  font-weight: bold;
  font-size: 15px;
  width: 400px;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 2;
  position: relative;
  color:rgb(200,0,0);

}
caption {
  font-weight: bold;
  font-size: 25px;
}
select {
  position: relative;
  width: 250px;
}
button{

  color:white;
  background-color:  rgb(200,0,0);
}
table{
  width: 100%;
  height:700px;
}
th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  padding: 5px;
  text-align: center;
  background-color: #b30e0e;
}
