<div class="bg " style="background-color:rgb(50,50,60)">


        <nav class="navbar navbar-dark bg-dark" style="height:100%;color: rgb(50,50,60);">

                <a class="navbar-brand" href="#">
                        <form class="form-inline">
                                <img src="assets/favicon.png" alt="picture not found" width="45" height="45" class="d-inline-block align-top" alt="">
                                <span id="details" class="navbar-text" style="font-size:120%;color:white">
                                        Navbar
                                </span>
                                <a class="nav-item nav-link" href="#" style="align-self: right;font-weight:bold;font-size: 120%;color:rgb(200,0,0)" (click)="logout()"
                                        align="right">Logout</a>


                        </form>
                </a>



        </nav>


        <table>

                <colgroup>
                        <col width="1">
                        <col width="450">
                        <col width="1">
                        <col width="450">
                </colgroup>
                <tr>
                        <th style="Color:white; font-size:130%;font-weight: bold ;background-color: rgb(200, 0, 0)">Time </th>
                        <th style="Color:white; font-size:130%;font-weight: bold ;background-color: rgb(200,0,0)">Event</th>
                        >
                </tr>
                <tr>
                        <td>06:00</td>
                        <td id="six">Free Slot</td>

                </tr>
                <tr>
                        <td>06:30</td>
                        <td id="sixT">Free Slot</td>

                </tr>

                <tr>
                        <td>07:00</td>
                        <td id="se">Free Slot</td>


                </tr>

                <tr>
                        <td>07:30</td>
                        <td id="seT">Free Slot</td>


                </tr>

                <tr>

                        <td>08:00</td>
                        <td id="ei">Free Slot</td>


                </tr>

                <tr>
                        <td>08:30</td>
                        <td id="eiT">Free Slot</td>


                </tr>

                <tr>
                        <td>09:00</td>
                        <td id="ni">Free Slot</td>


                </tr>

                <tr>
                        <td>09:30</td>
                        <td id="niT">Free Slot</td>


                </tr>

                <tr>
                        <td>10:00</td>
                        <td id="te">Free Slot</td>


                </tr>

                <tr>
                        <td>10:30</td>
                        <td id="teT">Free Slot</td>


                </tr>

                <tr>
                        <td>11:00</td>
                        <td id="el">Free Slot</td>


                </tr>

                <tr>
                        <td>11:30</td>
                        <td id="elT">Free Slot</td>


                </tr>

                <tr>
                        <td>12:00</td>
                        <td id="tw">Free Slot</td>


                </tr>
                <tr>
                        <td>12:30</td>
                        <td id="twT">Free Slot</td>
                </tr>

                <tr>
                        <td>13:00</td>
                        <td id="on">Free Slot</td>
                </tr>

                <tr>
                        <td>13:30</td>
                        <td id="onT">Free Slot</td>
                </tr>

                <tr>
                        <td>14:00</td>
                        <td id="two">Free Slot</td>
                </tr>

                <tr>
                        <td>14:30</td>
                        <td id="twoT">Free Slot</td>
                </tr>

                <tr>
                        <td>15:00</td>
                        <td id="th">Free Slot</td>
                </tr>

                <tr>
                        <td>15:30</td>
                        <td id="thT">Free Slot</td>
                </tr>

                <tr>
                        <td>16:00</td>
                        <td id="fo">Free Slot</td>
                </tr>

                <tr>
                        <td>16:30</td>
                        <td id="foT">Free Slot</td>
                </tr>

                <tr>
                        <td>17:00</td>
                        <td id="fi">Free Slot</td>
                </tr>

                <tr>
                        <td>17:30</td>
                        <td id="fiT">Free Slot</td>
                </tr>

                <tr>
                        <td>18:00</td>
                        <td id="si">Free Slot</td>
                </tr>

                <tr>
                        <td>18:30</td>
                        <td id="siT">Free Slot</td>
                </tr>
        </table>

        <div align="centre">
                <button type="button" class="btn btn-secondary" routerLink="/configPage">configure

                </button>

        </div>




</div>