<div class="bg">


  <img src="assets/BBDlogo.png" height=86 width=223 style="    position: absolute;
    top: -1%;
    left: 50%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;">
  

  <h2 id="ven">Venue</h2>
  <h1 id="date">Date</h1> 
  <table >

    <colgroup>
      <col width="1">
      <col width="450">
      <col width="1">
      <col width="450">
    </colgroup>
    <tr>
      <th style = "Color:white; font-size:130%;font-weight: bold ;background-color: rgb(200, 0, 0)">Time </th>
      <th style = "Color:white; font-size:130%;font-weight: bold ;background-color: rgb(200,0,0)">Event</th>
>
    </tr>
    <tr>
      <td>06:00</td>
      <td id="six">Free slot</td>

    </tr>
    <tr >
            <td>06:30</td>
            <td id="sixT">Free Slot</td>

    </tr>

    <tr>
            <td>07:00</td>
            <td id="se">Free Slot</td>


    </tr>

    <tr>
                  <td>07:30</td>
                  <td id="seT">Free Slot</td>


    </tr>

    <tr>
      
      <td>08:00</td>
      <td id="ei">Free Slot</td>


    </tr>

    <tr>
            <td>08:30</td>
            <td id="eiT">Free Slot</td>


    </tr>

    <tr>
            <td>09:00</td>
            <td id="ni">Free Slot</td>
            

    </tr>

    <tr>
            <td>09:30</td>
            <td id="niT">Free Slot</td>


    </tr>

    <tr>
            <td>10:00</td>
            <td id="te">Free Slot</td>


    </tr>

    <tr>
            <td>10:30</td>
            <td id="teT">Free Slot</td>


    </tr>

    <tr>
            <td>11:00</td>
            <td id="el">Free Slot</td>


    </tr>

    <tr>
            <td>11:30</td>
            <td id="elT">Free Slot</td>
  

    </tr>

    <tr>
            <td>12:00</td>
            <td id="tw">Free Slot</td>

   
    </tr>
    <tr>
            <td>12:30</td>
            <td id="twT">Free Slot</td>
    </tr>

    <tr>
      <td>13:00</td>
      <td id="on">Free Slot</td>
    </tr>

    <tr>
      <td>13:30</td>
      <td id="onT">Free Slot</td>
    </tr>

    <tr>
      <td>14:00</td>
      <td id="two">Free Slot</td>
    </tr>

    <tr>
            <td>14:30</td>
            <td id="twoT">Free Slot</td>
    </tr>

    <tr>
      <td>15:00</td>
      <td id="th">Free Slot</td>
    </tr>

    <tr>
      <td>15:30</td>
      <td id="thT">Free Slot</td>
    </tr>

    <tr>
            <td>16:00</td>
            <td id="fo">Free Slot</td>
    </tr>

    <tr>
            <td>16:30</td>
            <td id="foT">Free Slot</td>
    </tr>

    <tr>
            <td>17:00</td>
            <td id="fi">Free Slot</td>
    </tr>

    <tr>
              <td>17:30</td>
              <td id="fiT">Free Slot</td>
    </tr>

    <tr>
                <td>18:00</td>
                <td id="si">Free Slot</td>
    </tr>

    <tr>
        <td>18:30</td>
        <td id="siT">Free Slot</td>
    </tr>
  </table>

  <div align="right">
    <button type="button" id="loginButton" class="btn secondary" (click)="logout()">Logout</button>
    <button type="button" class="btn btn-secondary" routerLink="/configPage">Configure</button>
  </div>


</div>